<!DOCTYPE html>
<html lang="tr">
<head>
	<%- include("../partials/head") %>
    
</head>
<body>

	<%- include("../partials/header") %>
	
    <div class="col-md-8" style="margin: 130px 0px 150px 240px">
        <h1 class="mb-4">Edit > <%= blog.title %></h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="hidden" class="form-control" id="title" name="blogid" value="<%= blog.id %>">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= blog.title %>"required>
            </div>
            <div class="mb-3">
                <label for="subtitle" class="form-label">Subtitle</label>
                <input type="text" class="form-control" id="subtitle" name="subtitle" value="<%= blog.subtitle %>" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description"><%= blog.description %></textarea>
            </div>
            <div class="mb-3">
                <label for="slug" class="form-label">URL (Slug)</label>
                <input type="text" class="form-control" id="slug" name="slug" value="<%= blog.slug %>" required>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <img style="margin:10px"src="/static/assets/img/blog-image/<%= blog.image %>" width="120px" alt="">
                <input style="height: 38px" type="file" class="form-control" id="image" name="image" value="<%= blog.image %>" required>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    
	<%- include("../partials/footer") %>
	
	<%- include("../partials/script") %>

   <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
   <script>
       ClassicEditor
           .create( document.querySelector( '#description' ))
           .catch( error => {
               console.error( error );
           } );
   </script>
</body>
</html>